.parentContainer2 {
  width: 100%;
  height: 352px;
  background-color: white;
  padding-top: 80px;
  justify-items: center;
}

.childContainer2 {
  /* width: 1070px; */
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  /* margin: 0 20px; */


  /* justify-content: space-between; */
}
.allArrow {
  display: flex;
  width: 20px;
  gap: 20px;
}

.container2 {
  width: 100%;
  /* width: 1120px; */
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
}
.box2 {
  width: 160px;
  height: 128px;
  background-color: #ededed;
  justify-items: center;
  align-content: center;
}
.items {
  width: 48px;
  height: 48px;
}
.p2 {
  font-size: 24px;
}

@media screen and (max-width: 1025px) {
  .parentContainer2{
    width: 100%;
    height: auto;
  }
  .childContainer2 {
    width: 90%;
    height: auto;
  }

  .container2 {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* padding: 0px; */
    /* margin-bottom: 20px; */
  }
}

@media screen and (max-width: 767px) {
  .childContainer2 {
    width: 90%;
    height: auto;
    flex-direction: column;
  }
  .p2 {
    padding-bottom: 15px;
  }
  .arrow {
    padding: 0;
  }
  .allArrow {
    gap: 20px;
  }
}
